@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono" !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  background: #fffbe9;
  padding: 2rem;
  display: block;
}
